body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

select {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
